
body {
    padding: 0;
    margin: 0;
    background-color: rgb(185, 139, 139);
  }

  .navbar {
    background: grey;
  }

  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }

  .nav-link {
    margin-right: 1em !important;
  }

  .nav-link:hover {
    color: #000;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url('../images/wallpaper2.jpg');
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  a {
      font-family: 'Barlow Condensed', sans-serif;
  }

  p {
    color: white;
    font-size: large;

  }
